<header>
    <div class="header-content">

        <div class="logo">
            <img width="220" alt="Logo Proyecto" src="/assets/LogoSoftwareTeam.png">
        </div>

        <div class="menu">
            <nav>
                <ul>
                    <!-- se incluye el link para volver al Inicio -->
                    <li><a href="/Inicio">Inicio</a></li>
                </ul>
            </nav>
        </div>

    </div>

</header>
<!--------------------------------------------------------------------------------------------->
<!-- para mostrar el listado de Tipos de propiedad -->

<div class="lista">

    <h2>Mostramos los registros de tipo de propiedad </h2>


    <button class="boton" (click)="consultaTipoProps()">Consultar</button>

    <div class="esp">

        <h2>{{tituloTipoProps}}</h2>
        <table>

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let tido of TipoProps">
                    <td>{{ tido.id_tipoProp }}</td>
                    <td>{{ tido.desc_tipoProp}}</td>

                </tr>
            </tbody>
        </table>

    </div>
    <br>
</div>

<br><br>

<!--------------------------------------------------------------------------------------------->
<!-- para mostrar un solo tipo de propiedad -->
<div class="bus">
    <h2>Mostramos el tipo de propiedad escogido </h2>

    <form (ngSubmit)="buscarTipoProps()" [formGroup]="filtrarTipoProp">
        <input class="controls" type="text" formControlName="textfiltro"
            placeholder="Ingrese ID de un tipo de propiedad">

        <button class="boton" type="submit">Buscar TipoProp</button>
    </form>

    <div class="esp">
        <h2>{{tituloTipoProp}}</h2>
        <table>

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                </tr>

            </thead>

            <tbody>
                <tr *ngFor="let tido of MiTipoProp">
                    <td>{{ tido.id_tipoProp }}</td>
                    <td>{{ tido.desc_tipoProp}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

</div>

<br><br>

<!--------------------------------------------------------------------------------------------->
<!-- para crear un TipoProp -->

<div class="crea">

    <h4>Crear una TipoProp </h4>
 
    <form (ngSubmit)="InsertarTipoProp()" [formGroup]="InsertarGTipoProp">
        <input class="controls" type="text" formControlName="textDescTipoProp" placeholder="Tipo de propiedad">

        <button class="boton" type="submit">Insertar TipoProp</button>
        <input class="botonReset" type="reset" value="Limpiar nuevo TipoProp">

    </form>
    <br>
</div>

<br><br>

<!--------------------------------------------------------------------------------------------->
<!-- para actualizar un TipoProp -->

<div class="edit">
    <h2>Editar un TipoProp</h2>
    <form (ngSubmit)="buscarEditarTipoProp()" [formGroup]="ActualizarATipoProp">
        <input class="controls" type="text" formControlName="ActualizarIdTipoProp" placeholder="ID Tipo de propiedad a editar">

        <button class="boton" type="submit">Buscar TipoProp a editar</button>

        <li *ngFor="let tido of MiTipoPropE">
            <input class="controls" type="text" [value]="tido.desc_tipoProp"
                formControlName="nuevoDescTipoProp" placeholder="Ingrese tipo de propiedad">


        </li>
        <button class="boton" (click)="ActualizarTipoProp()">Actualizar TipoProp</button>
        <input class="botonReset" type="reset" value="Limpiar Campos">
    </form>
</div>

