<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Including Bootstrap Icons</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <!-- Bootstrap Font Icon CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>

  <header>
    <div class="header-content">

      <div class="logo">
        <img width="220" alt="Logo Proyecto" src="/assets/LogoSoftwareTeam.png">
      </div>

    </div>


  </header>

  <!------------------Portada----------------------->

  <div class="container-cover">
    <div class="container-info-cover">
      <h1>Citas de inmobiliaria</h1>
      <p>Tu casa es nuestra prioridad, confía en los que saben</p>


    </div>

  </div>

  <div class="container-buttons">
    <button type="button" class="btn btn-outline-info btn-lg"><i class="fa fa-circle"></i><a routerLink="/cliente">Cliente</a></button>
    <button type="button" class="btn btn-outline-info btn-lg"><i class="fa fa-circle"></i><a routerLink="/vendedor">Vendedor</a></button>
    <button type="button" class="btn btn-outline-info btn-lg"><i class="fa fa-circle"></i><a routerLink="/propiedad">Propiedad</a></button>
    <button type="button" class="btn btn-outline-info btn-lg"><i class="fa fa-circle"></i><a routerLink="/agenda">Agenda</a></button>
    <button type="button" class="btn btn-outline-info btn-lg"><i class="fa fa-circle"></i><a routerLink="/tipoprop">Tipo de propiedad</a></button>
    <button type="button" class="btn btn-outline-info btn-lg"><i class="fa fa-circle"></i><a routerLink="/tiponeg">Tipo de negocio</a></button>
  </div>

  
  



</body>


</html>